* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*border: 2px solid black;*/
    /*height: 1000px;*/
    background-color: #263238;
}

.Main_container_div_calculator {
    background-color: #000000;
    border: 2px solid black;
    border-radius: 20px;
    margin: 100px auto;
    width: 500px;
    height: 580px;
    box-sizing: border-box;
    padding: 30px;
}

.Main_container_calculator_pantalla {
    border: 2px solid black;
    height: 100px;
    background-color: #90a4ae;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.Main_container_container_buttons {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: #000000;
    border-radius: 20px;
    height: 400px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.Main_container_container_buttons_numbers {
    box-sizing: border-box;
    background-color: #535461;
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    flex-grow: 10;
    border: 2px solid black;
    border-radius: 20px;
    height: 60px;
    width: 80px;
}

.Main_container_container_buttons_numbers:hover {
    cursor: pointer;
    background-color: white;
    color: #1a237e;
}

.Main_container_container_buttons_numbers > h1 {
    text-align: center;
}

.footer {
    color: white;
    text-align: center;
    margin-top: -60px;
}
