<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculadora HTML y CSS</title>

        <!--IMPORTACIONES ARCHIVOS CSS-->
        <link rel="stylesheet" href="../css/styles.css">


    </head>

    <body>

        <div class="Main_container">
            <div class="Main_container_div_calculator">

                <div class="Main_container_calculator_pantalla">

                </div>

                <div class="Main_container_container_buttons">

                    <!--PRIMEROS CUATRO CUADROS-->
                    <div class="Main_container_container_buttons_numbers">
                        <h1>7</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>8</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>9</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>/</h1>
                    </div>


                    <!--SEGUNDOS CUATRO CUADROS-->
                    <div class="Main_container_container_buttons_numbers">
                        <h1>4</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>5</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>6</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>*</h1>
                    </div>

                    <!--TERCEROS CUATRO CUADROS-->
                    <div class="Main_container_container_buttons_numbers">
                        <h1>1</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>2</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>3</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>-</h1>
                    </div>

                    <!--CUARTOS CUATRO CUADROS-->
                    <div class="Main_container_container_buttons_numbers">
                        <h1>0</h1>
                    </div>
                    <div class="Main_container_container_buttons_numbers">
                        <h1>+</h1>
                    </div>
                </div>
            </div>

            <h1 class="footer">Developed By: <i>Kevin Jefrey Daza Acosta</i> 🧮</h1>
        </div>


    </body>

</html>